@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", sans-serif;
  background-color: $color-old-lace;
  color: $color-rich-black;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: toRem(1120);
  margin: 0 auto;
}
