@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: toRem(40) 0;
  font-family: "PT Serif", sans-serif;
  background-color: $color-old-lace;
  color: $color-rich-black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  line-height: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: toRem(1120);
  margin: 0 auto;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-c {
    flex-direction: column;
  }
}

// 18px, 20px heading
.heading-18,
.heading-20 {
  font-weight: bold;
  margin-bottom: toRem(10);
}

.heading-18 {
  font-size: toRem(18);
}

.heading-20 {
  text-align: center;
  font-size: toRem(20);
}

.heading-20.underlined {
  text-decoration: underline solid $color-rich-black;
}

p.space-bottom {
  margin-bottom: toRem(8);
}

// anchor tag styles
.link {
  display: inline-block;
  font-size: toRem(14);
  font-weight: bold;
  color: $color-rich-black;

  &-container {
    width: fit-content;
  }

  &-icon-wrapper {
    margin-left: toRem(5);

    & .chevron-wrapper {
      width: toRem(9);
      height: 100%;
      transition: width 300ms ease;

      &.active {
        width: toRem(20);
        transition: width 300ms ease 0s;
      }

      & .chevron-body {
        position: relative;
        top: 1px;
        width: 100%;
        height: 2px;
        background: transparent;
        transition: width 300ms ease, background 300ms ease;

        &.active {
          background-color: $color-rich-black;
          transition: width 300ms ease 0s, background 300ms ease 0s;
        }

        & .chevron-head {
          position: absolute;
          top: -3.7px;
          right: 0;
          width: toRem(9);
          height: toRem(9);
          border: 2px solid $color-rich-black;
          border-radius: 2px;
          border-top: none;
          border-left: none;
          transform: rotate(-45deg);
          transition: width 300ms ease, height 300ms ease, top 300ms ease;
        }
      }
    }
  }
}
