.header {
  border-top: 5px solid $color-rich-black;
  border-bottom: 5px solid $color-rich-black;

  & .wrapper {
    position: relative;
    padding: toRem(30) 0;

    &__image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      & img {
        width: toRem(120);
      }

      & .map-outline {
        position: absolute;
        left: -50%;
        opacity: 0;
      }

      & .text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: toRem(14);
        font-weight: bold;

        & span {
          position: relative;
          opacity: 0;
          transition: all 0.75s ease-in-out;
        }

        &-1 {
          transform: translateX(200%);
        }

        &-2 {
          transform: translateX(250%);
        }

        &-3 {
          transform: translateX(300%);
        }
      }

      &:hover {
        & .text {
          & span {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }

  #{&}__tagline,
  #{&}__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  #{&}__tagline,
  #{&}__meta {
    font-size: toRem(16);
  }

  #{&}__title {
    padding: toRem(10) 0;
    font-size: toRem(88);
  }

  #{&}__meta-link {
    color: inherit;
  }

  .animate-enter {
    animation: mapEnter 0.4s ease-in forwards;
  }

  .animate-leave {
    animation: mapLeave 0.4s ease-out forwards;
  }

  @keyframes mapEnter {
    from {
      left: -50%;
      opacity: 0;
      transform: scale(0);
    }

    to {
      left: 0;
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes mapLeave {
    from {
      left: 0;
      opacity: 1;
      transform: scale(1);
    }

    to {
      left: -50%;
      opacity: 0;
      transform: scale(0);
    }
  }
}
