.hero {
  margin-top: 2rem;
  margin-bottom: 1rem;

  h2,
  h3,
  p {
    line-height: 1.2;
  }

  & .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: toRem(10);
    border-bottom: 5px solid $color-rich-black;
  }

  & .sideline-1 {
    margin-bottom: toRem(14);
    grid-column: 1;
    grid-row: 1;
  }

  &__headline {
    padding-left: toRem(18);
    grid-column: 2 / 6;
    grid-row: 1;
    font-size: toRem(48);
  }

  &__image {
    grid-column: 3 / 6;
    grid-row: 2;
    justify-self: center;
    text-align: center;

    & img {
      width: toRem(580);
      max-width: 100%;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  & .sideline-2 {
    margin-bottom: toRem(14);
    grid-column: 1;
    grid-row: 2 / 3;

    & .avatar-wrapper {
      display: grid;
      grid-template-columns: 1fr 75px;
      grid-template-rows: 1fr;
      margin-bottom: toRem(10);

      & p {
        grid-row: 1;
        grid-column: 1;
      }

      & .avatar {
        width: toRem(65);
        height: toRem(65);
        max-width: 100%;
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  &__facts {
    grid-column: 2;
    grid-row: 2;

    & .heading-20 {
      text-align: left;
      text-transform: uppercase;
    }

    &-wrapper {
      & .fact:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  &__quotes {
    grid-column: 1;
    grid-row: 3;
    background: url("../../assets/images/quote.png") no-repeat 50% 20%;

    & .heading-20 {
      margin-bottom: toRem(30);
    }

    &-wrapper {
      position: relative;
      text-align: center;
      font-size: toRem(14);

      & .quote {
        padding: 0 toRem(10);
        font-style: italic;
      }

      & .author {
        margin-bottom: toRem(14);
        font-weight: bold;
      }

      & .progress-bar {
        margin-bottom: toRem(5);
        width: 100%;
        transform-origin: center;
        background-color: $color-rich-black;

        &.bar-1 {
          height: 1px;
          animation: progressBarGrow 7s linear infinite alternate;
        }

        &.bar-2 {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          animation: progressBarShrink 7s linear infinite alternate;
        }
      }
    }
  }

  &__css-corner {
    grid-row: 3;
    grid-column: 2 / span 4;

    & .heading-20 {
      text-transform: uppercase;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;

      & .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1em;
        grid-row: 1;
      }

      & .info-1 {
        grid-column: 1;
        background: url("../../assets/images/left-bracket.png") no-repeat left
          center;
        background-size: 50px;
      }

      & .info-2 {
        grid-column: 2;
      }

      & .info-3 {
        grid-column: 3;
      }

      & .info-4 {
        grid-column: 4;
        background: url("../../assets/images/right-bracket.png") no-repeat right
          center;
        background-size: 50px;
      }
    }
  }

  @keyframes progressBarGrow {
    0% {
      transform: scaleX(0);
    }
  }
  @keyframes progressBarShrink {
    100% {
      width: 0;
    }
  }
}
