.intro {
  color: $color-old-lace;
  background-color: $color-rich-black;

  & .wrapper {
    position: relative;
  }

  #{&}__text {
    padding-top: toRem(20);

    &-title {
      padding: 0 toRem(16) toRem(16) toRem(18);
      font-size: toRem(32);
      text-transform: uppercase;
      width: 80%;
    }

    & .divider {
      display: block;
      width: calc(100%);
      height: 2.5px;
      background-color: $color-old-lace;
    }

    &-marquee {
      position: relative;
      left: 18px;
      margin: toRem(20) 0 0;
      width: 70%;
      height: 2rem;
      font-size: toRem(18);
      letter-spacing: 0.5px;
      overflow: hidden;

      // start of marquee code (plus overflow above)
      & > * {
        position: absolute;
        white-space: nowrap;
        animation: marquee 15s linear 0s infinite;
      }

      > *:hover {
        animation-play-state: paused;
      }
      // end of marquee code

      & .dot {
        display: inline-block;
        transform: translateY(-40%);
        width: toRem(8);
        height: toRem(8);
        border-radius: 50%;
        background-color: $color-mint;
      }

      & a {
        color: $color-mint;

        &:hover {
          color: $color-medium-aquamarine;
        }
      }
    }
  }

  #{&}__logo {
    position: absolute;
    top: -30px;
    right: 30px;
  }

  @keyframes marquee {
    0% {
      left: 100%;
      transform: translateX(0%);
    }
    100% {
      left: 0%;
      transform: translateX(-100%);
    }
  }
}
